*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:Arial, sans-serif;
background:#f4f6f8;
color:#333;

}



/* Navigation */

nav{

display:flex;
justify-content:space-between;
align-items:center;
background:#111;
padding:20px 50px;
color:white;

}


nav ul{

display:flex;
list-style:none;

}


nav ul li{

margin-left:30px;

}


nav a{

color:white;
text-decoration:none;

}




/* Home */


#home{

height:90vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;

background:#e8f1ff;

}


.home-content h1{

font-size:45px;

}


.home-content h2{

color:#0066cc;
margin:20px;

}


.home-content p{

font-size:18px;
max-width:600px;

}


button{

background:#0066cc;
color:white;
padding:12px 25px;
border:none;
border-radius:5px;
margin-top:20px;
cursor:pointer;

}



button:hover{

background:#004999;

}




/* Sections */


section{

padding:60px 80px;

}


section h1{

text-align:center;
margin-bottom:30px;

}




/* Skills */


.skills-container{

display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;

}


.skill{

background:white;
padding:20px;
width:150px;
text-align:center;
border-radius:10px;
box-shadow:0px 2px 8px gray;

}





/* Projects */


.project-container{

display:flex;
gap:30px;
justify-content:center;
flex-wrap:wrap;

}


.card{

background:white;
width:300px;
padding:25px;
border-radius:10px;
box-shadow:0px 2px 10px gray;

}


.card h2{

color:#0066cc;

}





/* Contact */


#contact{

background:#111;
color:white;
text-align:center;

}





footer{

background:black;
color:white;
text-align:center;
padding:15px;

}
